@use "../../../styles/styles-dir" as *;
.login-form{
   @include flex-center;
   background-color: $cardBacground;
   max-width:300px;
}
.form{
   @include flex-center;
}

.admin{
   width:40%
}
.field{
   width:80%
}
.btn{
   @include btn-first;
   margin-bottom: 1rem;  
}