<app-spinner *ngIf="isLoading" [diameter]="100"></app-spinner>
<mat-card *ngIf="!isLoading">
  <form [formGroup]="signupForm" (ngSubmit)="registrar()" #myForm="ngForm">
    <!-- ---------ROL -->
    <mat-form-field appearance="fill">
      <mat-label>Rol del usuario</mat-label>
      <mat-select formControlName="rol">
        <mat-option [value]="2">Cadete</mat-option>
        <mat-option [value]="3">Cliente</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- ---------NOMBRE -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="fullName" />
      <mat-icon matSuffix>face</mat-icon>
    </mat-form-field>
    <!-- ---------EMAIL -->
    <mat-form-field class="field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
    <!-- ---------CONTRASEÑA -->
    <mat-form-field class="field" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        [type]="hide ? 'password' : 'text'"
        matInput
        autocomplete="off"
        formControlName="password"
      />
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon matSuffix>{{
          hide ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- ---------DIRECCION -->
    <mat-form-field class="field" appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" />
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>
    <!-- ---------TELEFONO -->
    <mat-form-field class="field" appearance="fill">
      <mat-label>Teléfono</mat-label>
      <span matPrefix>+54 &nbsp;</span>
      <input
        matInput
        formControlName="cellPhone"
        placeholder="01123456789"
        type="tel"
      />
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <!-- ---------VEHICULO -->
    <mat-form-field appearance="fill" *ngIf="signupForm.value.rol == 2">
      <mat-label>Vehiculo</mat-label>
      <mat-select formControlName="vehiculo">
        <mat-option [value]="1">bicicleta</mat-option>
        <mat-option [value]="2">motocicleta</mat-option>
        <mat-option [value]="3">automovil</mat-option>
      </mat-select>
      <mat-icon matSuffix>motorcycle</mat-icon>
    </mat-form-field>
    <button type="button" mat-raised-button (click)="clearForm()">
      cancelar
    </button>
    <button type="submit" mat-raised-button>aceptar</button>
  </form>
</mat-card>
